# Health Statistics

The state data is sourced from CDC's COVID-19 Death Data and Resources database. The data link is the SODA API which is updated on a daily basis. The program filters the obtained data for US states, and focuses on mainly COVID-19 deaths. The County data is sourced from COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. The data is updated on a daily basis.

## State data

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
import json
import requests
import os
import sys
sys.path.append("../")
from pandas.tseries.offsets import MonthEnd

In [ ]:
def get_cdcdata(i):
    api_query = "https://data.cdc.gov/resource/r8kw-7aab.json"
    api_query = api_query + "?month=" + str(i)
    response = requests.get(api_query)
    formattedResponse = json.loads(response.text)
    return formattedResponse

In [ ]:
appended_data = pd.DataFrame()
for i in range(1,13):
    df = pd.DataFrame(get_cdcdata(i))
    appended_data = pd.concat([appended_data, df])
appended_data

In [4]:
appended_data = appended_data.fillna(0)

In [5]:
# Drop irrelevant columns
appended_data.drop(appended_data.columns.difference(['year','month','state','covid_19_deaths']), 1, inplace=True)
appended_data

     year month          state covid_19_deaths
0    2020     1  United States               6
1    2021     1  United States          104247
2    2020     1        Alabama               0
3    2021     1        Alabama            2391
4    2020     1         Alaska               0
..    ...   ...            ...             ...
103  2021     6      Wisconsin              69
104  2020     6        Wyoming               0
105  2021     6        Wyoming              17
106  2020     6    Puerto Rico              16
107  2021     6    Puerto Rico              25

[648 rows x 4 columns]

In [8]:
# Go to the Input folder
get_path = sys.path[0].split("\\")      
del get_path[-1]                        
cwd = "input"                           
get_path.append(cwd)                    
path = "\\".join(get_path)              
os.chdir(path)

In [10]:
# Merge state codes
state_codes = pd.read_csv("State_msa_names.csv")
merged = pd.merge(appended_data, state_codes, left_on='state', right_on='state_proper')
merged

,year,month,state,covid_19_deaths,state_abbr,fips_state,state_name,state_proper
0,2020,1,United States,6,US,111,UNITED STATES,United States
1,2021,1,United States,104247,US,111,UNITED STATES,United States
2,2020,2,United States,20,US,111,UNITED STATES,United States
3,2021,2,United States,46876,US,111,UNITED STATES,United States
4,2020,3,United States,7152,US,111,UNITED STATES,United States
...,...,...,...,...,...,...,...,...
619,2021,4,Puerto Rico,196,PR,72,PUERTO RICO,Puerto Rico
620,2020,5,Puerto Rico,35,PR,72,PUERTO RICO,Puerto Rico
621,2021,5,Puerto Rico,182,PR,72,PUERTO RICO,Puerto Rico
622,2020,6,Puerto Rico,16,PR,72,PUERTO RICO,Puerto Rico
623,2021,6,Puerto Rico,25,PR,72,PUERTO RICO,Puerto Rico

In [11]:
# Go to the Output folder
get_path = sys.path[0].split("\\")
del get_path[-1]
cwd = "output"
get_path.append(cwd)
path = "\\".join(get_path)
os.chdir(path)

In [12]:
merged.to_csv('health_stats_states.csv')

## County Data

In [15]:
# Read the dataset in csv format
data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [16]:
data

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/5/21,7/6/21,7/7/21,7/8/21,7/9/21,7/10/21,7/11/21,7/12/21,7/13/21,7/14/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,113,113,113,113,113,113,113,113,113,113
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,315,315,316,316,317,318,318,318,318,321
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,60,60,60,60,60,60,60,60,60,60
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,64,64,65,65,65,65,65,65,65,65
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,139,139,139,139,139,139,139,139,139,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,11,11,11,11,11,11,11,11,11,11
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,13,13,13,13,13,13,13,13,13,13
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,26,26,26,26,26,26,26,26,26,26
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,6,6,6,6,6,6,6,6,6,6

In [17]:
# Transpose the date to clean up date columns
data_transpose = data.transpose().reset_index()

In [18]:
# Convert dates to a datetime format
data_transpose['index'][12:] = pd.to_datetime(data_transpose['index'][12:], infer_datetime_format=True).dt.date
dates = data_transpose.loc[12:]         # Save the dataframe as a separate dataframe
dates

,index,0,1,2,3,4,5,6,7,8,...,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341
12,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2021-07-10,113,318,60,65,139,42,71,331,123,...,33,13,31,7,40,11,13,0,26,6
548,2021-07-11,113,318,60,65,139,42,71,331,123,...,33,13,31,7,40,11,13,0,26,6
549,2021-07-12,113,318,60,65,139,42,71,331,123,...,33,13,31,7,40,11,13,0,26,6
550,2021-07-13,113,318,60,65,139,42,71,331,123,...,33,14,31,7,41,11,13,0,26,6
551,2021-07-14,113,321,60,65,139,42,71,331,124,...,33,14,31,7,41,11,13,0,26,6

In [19]:
# Find the end date of the month for every date
dates['End Date'] = pd.to_datetime(dates['index'], infer_datetime_format=True) + MonthEnd(0)
dates

<ipython-input-19-3b3c969e0606>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dates['End Date'] = pd.to_datetime(dates['index'], infer_datetime_format=True) + MonthEnd(0)

,index,0,1,2,3,4,5,6,7,8,...,3333,3334,3335,3336,3337,3338,3339,3340,3341,End Date
12,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
13,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
14,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
15,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
16,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2021-07-10,113,318,60,65,139,42,71,331,123,...,13,31,7,40,11,13,0,26,6,2021-07-31
548,2021-07-11,113,318,60,65,139,42,71,331,123,...,13,31,7,40,11,13,0,26,6,2021-07-31
549,2021-07-12,113,318,60,65,139,42,71,331,123,...,13,31,7,40,11,13,0,26,6,2021-07-31
550,2021-07-13,113,318,60,65,139,42,71,331,123,...,14,31,7,41,11,13,0,26,6,2021-07-31
551,2021-07-14,113,321,60,65,139,42,71,331,124,...,14,31,7,41,11,13,0,26,6,2021-07-31

In [20]:
# Filter rows for the last date of the month
dates = dates[dates['index'] == dates['End Date']]
dates.head(20)

,index,0,1,2,3,4,5,6,7,8,...,3333,3334,3335,3336,3337,3338,3339,3340,3341,End Date
21,2020-01-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-01-31
50,2020-02-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-02-29
81,2020-03-31,0,1,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,2020-03-31
111,2020-04-30,4,3,1,0,0,0,1,3,21,...,0,0,0,0,0,0,6,0,0,2020-04-30
142,2020-05-31,4,9,1,1,1,5,18,3,25,...,0,0,0,0,0,0,15,0,0,2020-05-31
172,2020-06-30,11,9,1,1,1,9,27,5,27,...,0,0,0,0,0,0,19,0,0,2020-06-30
203,2020-07-31,20,21,5,2,3,11,35,9,38,...,0,0,0,0,0,0,25,0,0,2020-07-31
234,2020-08-31,22,38,7,7,11,13,36,30,39,...,0,0,0,0,0,0,36,0,0,2020-08-31
264,2020-09-30,27,52,7,11,15,15,40,44,42,...,1,4,1,2,1,2,0,6,0,2020-09-30
295,2020-10-31,31,71,9,15,25,17,41,65,47,...,2,4,1,2,1,3,10,7,0,2020-10-31
325,2020-11-30,42,98,11,17,40,19,42,121,50,...,7,10,1,6,2,4,0,8,1,2020-11-30
356,2020-12-31,48,161,32,46,63,22,45,156,63,...,8,17,6,16,4,7,0,19,2,2020-12-31
387,2021-01-31,69,224,40,52,100,29,60,232,76,...,11,19,7,32,6,12,0,25,4,2021-01-31
415,2021-02-28,91,283,51,60,127,36,66,286,110,...,11,27,7,34,9,12,0,26,5,2021-02-28
446,2021-03-31,99,301,55,58,131,40,66,305,117,...,11,31,7,37,9,12,0,26,5,2021-03-31
476,2021-04-30,107,305,56,63,135,40,69,312,122,...,11,31,7,37,9,12,0,26,5,2021-04-30
507,2021-05-31,110,311,59,64,139,42,71,324,123,...,11,31,7,39,9,13,0,26,5,2021-05-31
537,2021-06-30,113,315,60,64,139,42,71,330,123,...,13,31,7,40,11,13,0,26,6,2021-06-30

In [21]:
# Delete the extra 'End Date' column
dates = dates.drop(['End Date'],axis=1)
dates

,index,0,1,2,3,4,5,6,7,8,...,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341
21,2020-01-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,2020-02-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,2020-03-31,0,1,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
111,2020-04-30,4,3,1,0,0,0,1,3,21,...,0,0,0,0,0,0,0,6,0,0
142,2020-05-31,4,9,1,1,1,5,18,3,25,...,0,0,0,0,0,0,0,15,0,0
172,2020-06-30,11,9,1,1,1,9,27,5,27,...,0,0,0,0,0,0,0,19,0,0
203,2020-07-31,20,21,5,2,3,11,35,9,38,...,0,0,0,0,0,0,0,25,0,0
234,2020-08-31,22,38,7,7,11,13,36,30,39,...,0,0,0,0,0,0,0,36,0,0
264,2020-09-30,27,52,7,11,15,15,40,44,42,...,2,1,4,1,2,1,2,0,6,0
295,2020-10-31,31,71,9,15,25,17,41,65,47,...,3,2,4,1,2,1,3,10,7,0
325,2020-11-30,42,98,11,17,40,19,42,121,50,...,6,7,10,1,6,2,4,0,8,1
356,2020-12-31,48,161,32,46,63,22,45,156,63,...,10,8,17,6,16,4,7,0,19,2
387,2021-01-31,69,224,40,52,100,29,60,232,76,...,20,11,19,7,32,6,12,0,25,4
415,2021-02-28,91,283,51,60,127,36,66,286,110,...,26,11,27,7,34,9,12,0,26,5
446,2021-03-31,99,301,55,58,131,40,66,305,117,...,30,11,31,7,37,9,12,0,26,5
476,2021-04-30,107,305,56,63,135,40,69,312,122,...,30,11,31,7,37,9,12,0,26,5
507,2021-05-31,110,311,59,64,139,42,71,324,123,...,30,11,31,7,39,9,13,0,26,5
537,2021-06-30,113,315,60,64,139,42,71,330,123,...,32,13,31,7,40,11,13,0,26,6

In [22]:
# Retrieve the columns containing the other variables
variables = data_transpose.loc[1:11]
variables

,index,0,1,2,3,4,5,6,7,8,...,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341
1,iso2,US,US,US,US,US,US,US,US,US,...,US,US,US,US,US,US,US,US,US,US
2,iso3,USA,USA,USA,USA,USA,USA,USA,USA,USA,...,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA
3,code3,840,840,840,840,840,840,840,840,840,...,840,840,840,840,840,840,840,840,840,840
4,FIPS,1001.0,1003.0,1005.0,1007.0,1009.0,1011.0,1013.0,1015.0,1017.0,...,56029.0,56031.0,56033.0,56035.0,56037.0,56039.0,56041.0,90056.0,56043.0,56045.0
5,Admin2,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,...,Park,Platte,Sheridan,Sublette,Sweetwater,Teton,Uinta,Unassigned,Washakie,Weston
6,Province_State,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,...,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming,Wyoming
7,Country_Region,US,US,US,US,US,US,US,US,US,...,US,US,US,US,US,US,US,US,US,US
8,Lat,32.539527,30.72775,31.868263,32.996421,33.982109,32.100305,31.753001,33.774837,32.913601,...,44.521575,42.132991,44.790489,42.765583,41.659439,43.935225,41.287818,0.0,43.904516,43.839612
9,Long_,-86.644082,-87.722071,-85.387129,-87.125115,-86.567906,-85.712655,-86.680575,-85.826304,-85.390727,...,-109.585283,-104.966331,-106.886239,-109.913092,-108.882788,-110.58908,-110.547578,0.0,-107.680187,-104.567488
10,Combined_Key,"Autauga, Alabama, US","Baldwin, Alabama, US","Barbour, Alabama, US","Bibb, Alabama, US","Blount, Alabama, US","Bullock, Alabama, US","Butler, Alabama, US","Calhoun, Alabama, US","Chambers, Alabama, US",...,"Park, Wyoming, US","Platte, Wyoming, US","Sheridan, Wyoming, US","Sublette, Wyoming, US","Sweetwater, Wyoming, US","Teton, Wyoming, US","Uinta, Wyoming, US","Unassigned, Wyoming, US","Washakie, Wyoming, US","Weston, Wyoming, US"
11,Population,55869,223234,24686,22394,57826,10101,19448,113605,33254,...,29194,8393,30485,9831,42343,23464,20226,0,7805,6927

In [23]:
# Append the variables dataframe with the cleaned up dates dataframe
appended_df = variables.append(dates).transpose()
appended_df

,1,2,3,4,5,6,7,8,9,10,...,264,295,325,356,387,415,446,476,507,537
index,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",...,27,31,42,48,69,91,99,107,110,113
1,US,USA,840,1003.0,Baldwin,Alabama,US,30.72775,-87.722071,"Baldwin, Alabama, US",...,52,71,98,161,224,283,301,305,311,315
2,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",...,7,9,11,32,40,51,55,56,59,60
3,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",...,11,15,17,46,52,60,58,63,64,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.58908,"Teton, Wyoming, US",...,1,1,2,4,6,9,9,9,9,11
3338,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",...,2,3,4,7,12,12,12,12,13,13
3339,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,"Unassigned, Wyoming, US",...,0,10,0,0,0,0,0,0,0,0
3340,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",...,6,7,8,19,25,26,26,26,26,26
3341,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",...,0,0,1,2,4,5,5,5,5,6

In [24]:
# Clean up the headers
appended_df.columns = appended_df.iloc[0]
appended_df = appended_df.drop('index')
appended_df

index,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",...,27,31,42,48,69,91,99,107,110,113
1,US,USA,840,1003.0,Baldwin,Alabama,US,30.72775,-87.722071,"Baldwin, Alabama, US",...,52,71,98,161,224,283,301,305,311,315
2,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",...,7,9,11,32,40,51,55,56,59,60
3,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",...,11,15,17,46,52,60,58,63,64,64
4,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",...,15,25,40,63,100,127,131,135,139,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.58908,"Teton, Wyoming, US",...,1,1,2,4,6,9,9,9,9,11
3338,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",...,2,3,4,7,12,12,12,12,13,13
3339,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,"Unassigned, Wyoming, US",...,0,10,0,0,0,0,0,0,0,0
3340,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",...,6,7,8,19,25,26,26,26,26,26
3341,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",...,0,0,1,2,4,5,5,5,5,6

In [25]:
# States have unassigned county deaths - filter the actual counties in a separate dataframe
counties = appended_df[appended_df['Admin2'] != 'Unassigned']
counties_vars = counties[counties.columns[1:11]]

In [26]:
# Filter month columns for counties
counties_bymonth = counties[counties.columns[11:]]
counties_bymonth

index,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,0,0,0,4,4,11,20,22,27,31,42,48,69,91,99,107,110,113
1,0,0,1,3,9,9,21,38,52,71,98,161,224,283,301,305,311,315
2,0,0,0,1,1,1,5,7,7,9,11,32,40,51,55,56,59,60
3,0,0,0,0,1,1,2,7,11,15,17,46,52,60,58,63,64,64
4,0,0,0,0,1,1,3,11,15,25,40,63,100,127,131,135,139,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,0,0,0,0,0,0,0,0,2,2,6,16,32,34,37,37,39,40
3337,0,0,0,0,0,0,0,0,1,1,2,4,6,9,9,9,9,11
3338,0,0,0,0,0,0,0,0,2,3,4,7,12,12,12,12,13,13
3340,0,0,0,0,0,0,0,0,6,7,8,19,25,26,26,26,26,26
3341,0,0,0,0,0,0,0,0,0,0,1,2,4,5,5,5,5,6

In [27]:
# Calcuate the difference between each consecutive month to get deaths per month
counties_bymonth = counties_bymonth.diff(axis=1)
counties_bymonth

index,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,NaN,0,0,4,0,7,9,2,5,4,11,6,21,22,8,8,3,3
1,NaN,0,1,2,6,0,12,17,14,19,27,63,63,59,18,4,6,4
2,NaN,0,0,1,0,0,4,2,0,2,2,21,8,11,4,1,3,1
3,NaN,0,0,0,1,0,1,5,4,4,2,29,6,8,-2,5,1,0
4,NaN,0,0,0,1,0,2,8,4,10,15,23,37,27,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,NaN,0,0,0,0,0,0,0,2,0,4,10,16,2,3,0,2,1
3337,NaN,0,0,0,0,0,0,0,1,0,1,2,2,3,0,0,0,2
3338,NaN,0,0,0,0,0,0,0,2,1,1,3,5,0,0,0,1,0
3340,NaN,0,0,0,0,0,0,0,6,1,1,11,6,1,0,0,0,0
3341,NaN,0,0,0,0,0,0,0,0,0,1,1,2,1,0,0,0,1

In [28]:
merged_counties = pd.concat([counties_vars, counties_bymonth], axis=1)
merged_counties

index,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,...,5,4,11,6,21,22,8,8,3,3
1,USA,840,1003.0,Baldwin,Alabama,US,30.72775,-87.722071,"Baldwin, Alabama, US",223234,...,14,19,27,63,63,59,18,4,6,4
2,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,...,0,2,2,21,8,11,4,1,3,1
3,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,...,4,4,2,29,6,8,-2,5,1,0
4,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,...,4,10,15,23,37,27,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,USA,840,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",42343,...,2,0,4,10,16,2,3,0,2,1
3337,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.58908,"Teton, Wyoming, US",23464,...,1,0,1,2,2,3,0,0,0,2
3338,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226,...,2,1,1,3,5,0,0,0,1,0
3340,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805,...,6,1,1,11,6,1,0,0,0,0
3341,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927,...,0,0,1,1,2,1,0,0,0,1

In [29]:
# Filter the unassigned counties and merge it with the counties dataset
unassigned_counties = appended_df[appended_df['Admin2'] == 'Unassigned']
merged_all_counties = merged_counties.append(unassigned_counties)
merged_all_counties

index,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,iso2
0,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,...,4,11,6,21,22,8,8,3,3,NaN
1,USA,840,1003.0,Baldwin,Alabama,US,30.72775,-87.722071,"Baldwin, Alabama, US",223234,...,19,27,63,63,59,18,4,6,4,NaN
2,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,...,2,2,21,8,11,4,1,3,1,NaN
3,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,...,4,2,29,6,8,-2,5,1,0,NaN
4,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,...,10,15,23,37,27,4,4,4,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,USA,840,90051.0,Unassigned,Virginia,US,0.0,0.0,"Unassigned, Virginia, US",0,...,0,0,0,0,0,0,0,0,0,US
3180,USA,840,90053.0,Unassigned,Washington,US,0.0,0.0,"Unassigned, Washington, US",0,...,3,3,5,4,4,4,3,3,3,US
3235,USA,840,90054.0,Unassigned,West Virginia,US,0.0,0.0,"Unassigned, West Virginia, US",0,...,0,0,0,0,0,0,0,0,0,US
3306,USA,840,90055.0,Unassigned,Wisconsin,US,0.0,0.0,"Unassigned, Wisconsin, US",0,...,0,0,0,0,0,0,0,0,0,US
3339,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,"Unassigned, Wyoming, US",0,...,10,0,0,0,0,0,0,0,0,US

In [30]:
# Drop irrelevant columns
merged_all_counties.drop((['iso2','iso3','code3','Lat','Long_']), 1, inplace=True)
merged_all_counties

index,FIPS,Admin2,Province_State,Country_Region,Combined_Key,Population,2020-01-31,2020-02-29,2020-03-31,2020-04-30,...,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30
0,1001.0,Autauga,Alabama,US,"Autauga, Alabama, US",55869,NaN,0,0,4,...,5,4,11,6,21,22,8,8,3,3
1,1003.0,Baldwin,Alabama,US,"Baldwin, Alabama, US",223234,NaN,0,1,2,...,14,19,27,63,63,59,18,4,6,4
2,1005.0,Barbour,Alabama,US,"Barbour, Alabama, US",24686,NaN,0,0,1,...,0,2,2,21,8,11,4,1,3,1
3,1007.0,Bibb,Alabama,US,"Bibb, Alabama, US",22394,NaN,0,0,0,...,4,4,2,29,6,8,-2,5,1,0
4,1009.0,Blount,Alabama,US,"Blount, Alabama, US",57826,NaN,0,0,0,...,4,10,15,23,37,27,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,90051.0,Unassigned,Virginia,US,"Unassigned, Virginia, US",0,0,0,12,0,...,0,0,0,0,0,0,0,0,0,0
3180,90053.0,Unassigned,Washington,US,"Unassigned, Washington, US",0,0,0,0,0,...,2,3,3,5,4,4,4,3,3,3
3235,90054.0,Unassigned,West Virginia,US,"Unassigned, West Virginia, US",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3306,90055.0,Unassigned,Wisconsin,US,"Unassigned, Wisconsin, US",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3339,90056.0,Unassigned,Wyoming,US,"Unassigned, Wyoming, US",0,0,0,0,6,...,0,10,0,0,0,0,0,0,0,0

In [31]:
# Go to the Output folder
get_path = sys.path[0].split("\\")
del get_path[-1]
cwd = "output"
get_path.append(cwd)
path = "\\".join(get_path)
os.chdir(path)

In [32]:
# Convert the output to csv
merged_all_counties.to_csv("health_stats_county.csv")