# Employment - Industries

The data is sourced from BLS State and Metro Area Employment, Hours, & Earnings database for time series. The data link is the text data files for all data from 1991 to 2021. The data is updated on a monthly basis.

In [9]:
# Import libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
from os import *
import sys
sys.path.append("../")
import zipfile
import urllib.request
from shutil import copyfile
import shutil

In [10]:
# Change directory
def change_dir(newpath):
    get_path = sys.path[0].split("\\")      
    del get_path[-1]                                                  
    get_path.append(newpath)                    
    path = "\\".join(get_path)              
    os.chdir(path) 
change_dir('input\\industry')

In [11]:
# Source all data from the BLS SAE URL for .txt files
url = 'https://download.bls.gov/pub/time.series/sm/sm.data.1.AllData'
urllib.request.urlretrieve(url,'all_data.csv')
all_data = pd.read_csv('all_data.csv', sep='\t',)
all_data.columns = all_data.columns.str.strip()
all_data

C:\Users\himan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                              series_id  year period value footnote_codes
0        SMS00000000000000021            1991    M01  38.2            NaN
1        SMS00000000000000021            1991    M02  25.5            NaN
2        SMS00000000000000021            1991    M03  37.3            NaN
3        SMS00000000000000021            1991    M04  47.1            NaN
4        SMS00000000000000021            1991    M05  41.2            NaN
...                                 ...   ...    ...   ...            ...
8738514  SMU78000009092000001            2021    M02   9.6            NaN
8738515  SMU78000009092000001            2021    M03   9.6            NaN
8738516  SMU78000009092000001            2021    M04   9.7            NaN
8738517  SMU78000009092000001            2021    M05   9.6            NaN
8738518  SMU78000009092000001            2021    M06   9.8              P

[8738519 rows x 5 columns]

In [12]:
# Source series data from the BLS SAE URL for .txt files
url = 'https://download.bls.gov/pub/time.series/sm/sm.series'
urllib.request.urlretrieve(url,'series.csv')
series = pd.read_csv('series.csv', sep='\t',)
series.columns = series.columns.str.strip()
series

,series_id,state_code,area_code,supersector_code,industry_code,data_type_code,seasonal,benchmark_year,footnote_codes,begin_year,begin_period,end_year,end_period
0,SMS00000000000000021,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
1,SMS00000000000000022,0,0,0,0,22,S,2020,NaN,1991,M01,2021,M06
2,SMS00000000000000023,0,0,0,0,23,S,2020,NaN,1991,M01,2021,M06
3,SMS00000000000000024,0,0,0,0,24,S,2020,NaN,1991,M01,2021,M06
4,SMS01000000000000001,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23868,SMU78000008000000001,78,0,80,80000000,1,U,2020,NaN,1990,M01,2021,M06
23869,SMU78000008081300001,78,0,80,80813000,1,U,2020,NaN,1990,M01,2021,M06
23870,SMU78000009000000001,78,0,90,90000000,1,U,2020,NaN,1990,M01,2021,M06
23871,SMU78000009091000001,78,0,90,90910000,1,U,2020,NaN,1990,M01,2021,M06
23872,SMU78000009092000001,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06

In [13]:
# Merge all_data with series data
all_data_series = pd.merge(all_data, series, on='series_id')
all_data_series

,series_id,year,period,value,footnote_codes_x,state_code,area_code,supersector_code,industry_code,data_type_code,seasonal,benchmark_year,footnote_codes_y,begin_year,begin_period,end_year,end_period
0,SMS00000000000000021,1991,M01,38.2,NaN,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
1,SMS00000000000000021,1991,M02,25.5,NaN,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
2,SMS00000000000000021,1991,M03,37.3,NaN,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
3,SMS00000000000000021,1991,M04,47.1,NaN,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
4,SMS00000000000000021,1991,M05,41.2,NaN,0,0,0,0,21,S,2020,NaN,1991,M01,2021,M06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8738514,SMU78000009092000001,2021,M02,9.6,NaN,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06
8738515,SMU78000009092000001,2021,M03,9.6,NaN,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06
8738516,SMU78000009092000001,2021,M04,9.7,NaN,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06
8738517,SMU78000009092000001,2021,M05,9.6,NaN,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06
8738518,SMU78000009092000001,2021,M06,9.8,P,78,0,90,90920000,1,U,2020,NaN,1990,M01,2021,M06

In [14]:
# Filter the merged dataset for data type: All Employees, In Thousands and 50 states and DC
all_data_series = all_data_series[all_data_series.data_type_code == 1]
all_data_series = all_data_series[all_data_series.state_code < 57]
all_data_series

,series_id,year,period,value,footnote_codes_x,state_code,area_code,supersector_code,industry_code,data_type_code,seasonal,benchmark_year,footnote_codes_y,begin_year,begin_period,end_year,end_period
1464,SMS01000000000000001,1990,M01,1635.9,NaN,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
1465,SMS01000000000000001,1990,M02,1633.8,NaN,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
1466,SMS01000000000000001,1990,M03,1632.1,NaN,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
1467,SMS01000000000000001,1990,M04,1643.8,NaN,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
1468,SMS01000000000000001,1990,M05,1648.7,NaN,1,0,0,0,1,S,2020,NaN,1990,M01,2021,M06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8652294,SMU56169409093161101,2021,M02,3.6,NaN,56,16940,90,90931611,1,U,2020,NaN,1990,M01,2021,M06
8652295,SMU56169409093161101,2021,M03,3.6,NaN,56,16940,90,90931611,1,U,2020,NaN,1990,M01,2021,M06
8652296,SMU56169409093161101,2021,M04,3.6,NaN,56,16940,90,90931611,1,U,2020,NaN,1990,M01,2021,M06
8652297,SMU56169409093161101,2021,M05,3.6,NaN,56,16940,90,90931611,1,U,2020,NaN,1990,M01,2021,M06
8652298,SMU56169409093161101,2021,M06,3.6,P,56,16940,90,90931611,1,U,2020,NaN,1990,M01,2021,M06

In [15]:
# Source supersector data from the BLS SAE URL for .txt files
url = 'https://download.bls.gov/pub/time.series/sm/sm.supersector'
urllib.request.urlretrieve(url,'supersector_series.csv')
supersector_series = pd.read_csv('supersector_series.csv', sep='\t',)
supersector_series.columns = supersector_series.columns.str.strip()
supersector_series

    supersector_code                      supersector_name
0                  0                         Total Nonfarm
1                  5                         Total Private
2                  6                       Goods Producing
3                  7                     Service-Providing
4                  8             Private Service Providing
5                 10                    Mining and Logging
6                 15     Mining, Logging, and Construction
7                 20                          Construction
8                 30                         Manufacturing
9                 31                         Durable Goods
10                32                     Non-Durable Goods
11                40  Trade, Transportation, and Utilities
12                41                       Wholesale Trade
13                42                          Retail Trade
14                43          Transportation and Utilities
15                50                           Information
16                55                  Financial Activities
17                60    Professional and Business Services
18                65         Education and Health Services
19                70               Leisure and Hospitality
20                80                        Other Services
21                90                            Government

In [16]:
# Source industry data from the BLS SAE URL for .txt files
url = 'https://download.bls.gov/pub/time.series/sm/sm.industry'
urllib.request.urlretrieve(url,'industry_codes.csv')
industry_codes = pd.read_csv('industry_codes.csv', sep='\t',)
industry_codes.columns = industry_codes.columns.str.strip()
industry_codes

     industry_code                                      industry_name
0                0                                      Total Nonfarm
1          5000000                                      Total Private
2          6000000                                    Goods Producing
3          7000000                                  Service-Providing
4          8000000                          Private Service Providing
..             ...                                                ...
339       90932480                                     Transportation
340       90932622                         Local Government Hospitals
341       90936111  Local Government Elementary and Secondary Educ...
342       90940000                   Total State and Local Government
343       90940001                    District of Columbia Government

[344 rows x 2 columns]

In [17]:
# Merge supersector_series with all_data_series 
all_data_supersector = pd.merge(all_data_series, supersector_series, on='supersector_code')
all_data_supersector.columns

Index(['series_id', 'year', 'period', 'value', 'footnote_codes_x',
       'state_code', 'area_code', 'supersector_code', 'industry_code',
       'data_type_code', 'seasonal', 'benchmark_year', 'footnote_codes_y',
       'begin_year', 'begin_period', 'end_year', 'end_period',
       'supersector_name'],
      dtype='object')

In [18]:
# Drop irrelevant columns
all_data_supersector = all_data_supersector.drop(['footnote_codes_x','benchmark_year','footnote_codes_y','begin_year', 'begin_period', 'end_year', 'end_period','supersector_name'],axis=1)
all_data_supersector

,series_id,year,period,value,state_code,area_code,supersector_code,industry_code,data_type_code,seasonal
0,SMS01000000000000001,1990,M01,1635.9,1,0,0,0,1,S
1,SMS01000000000000001,1990,M02,1633.8,1,0,0,0,1,S
2,SMS01000000000000001,1990,M03,1632.1,1,0,0,0,1,S
3,SMS01000000000000001,1990,M04,1643.8,1,0,0,0,1,S
4,SMS01000000000000001,1990,M05,1648.7,1,0,0,0,1,S
...,...,...,...,...,...,...,...,...,...,...
7559975,SMU56169409093161101,2021,M02,3.6,56,16940,90,90931611,1,U
7559976,SMU56169409093161101,2021,M03,3.6,56,16940,90,90931611,1,U
7559977,SMU56169409093161101,2021,M04,3.6,56,16940,90,90931611,1,U
7559978,SMU56169409093161101,2021,M05,3.6,56,16940,90,90931611,1,U
7559979,SMU56169409093161101,2021,M06,3.6,56,16940,90,90931611,1,U

In [19]:
# Filter for supersectors, years after 1990 and unseasonal data
all_data_supersector = all_data_supersector[all_data_supersector.supersector_code != 15]
all_data_supersector = all_data_supersector[all_data_supersector.supersector_code != 30]
all_data_supersector = all_data_supersector[all_data_supersector.supersector_code != 40]
all_data_supersector = all_data_supersector[all_data_supersector.year > 1990]
all_data_supersector = all_data_supersector[all_data_supersector.seasonal != 'S']
all_data_supersector

,series_id,year,period,value,state_code,area_code,supersector_code,industry_code,data_type_code,seasonal
185020,SMU01000000000000001,1991,M01,1625.6,1,0,0,0,1,U
185021,SMU01000000000000001,1991,M02,1626.2,1,0,0,0,1,U
185022,SMU01000000000000001,1991,M03,1637.7,1,0,0,0,1,U
185023,SMU01000000000000001,1991,M04,1645.2,1,0,0,0,1,U
185024,SMU01000000000000001,1991,M05,1653.5,1,0,0,0,1,U
...,...,...,...,...,...,...,...,...,...,...
7559975,SMU56169409093161101,2021,M02,3.6,56,16940,90,90931611,1,U
7559976,SMU56169409093161101,2021,M03,3.6,56,16940,90,90931611,1,U
7559977,SMU56169409093161101,2021,M04,3.6,56,16940,90,90931611,1,U
7559978,SMU56169409093161101,2021,M05,3.6,56,16940,90,90931611,1,U
7559979,SMU56169409093161101,2021,M06,3.6,56,16940,90,90931611,1,U

In [20]:
all_data_supersector['industry_code_match'] = all_data_supersector['supersector_code'].astype(str) + '000000'
all_data_supersector['industry_code'] = all_data_supersector['industry_code'].astype(str)
all_data_supersector['industry_code'] = np.where((all_data_supersector.industry_code == '0'),'0000000',all_data_supersector.industry_code)
all_data_supersector = all_data_supersector[all_data_supersector.industry_code == all_data_supersector.industry_code_match]
all_data_supersector.columns

Index(['series_id', 'year', 'period', 'value', 'state_code', 'area_code',
       'supersector_code', 'industry_code', 'data_type_code', 'seasonal',
       'industry_code_match'],
      dtype='object')

In [21]:
# Drop irrelevant columns
all_data_supersector = all_data_supersector.drop(['data_type_code','seasonal','industry_code_match'],axis=1)
all_data_supersector

,series_id,year,period,value,state_code,area_code,supersector_code,industry_code
185020,SMU01000000000000001,1991,M01,1625.6,1,0,0,0000000
185021,SMU01000000000000001,1991,M02,1626.2,1,0,0,0000000
185022,SMU01000000000000001,1991,M03,1637.7,1,0,0,0000000
185023,SMU01000000000000001,1991,M04,1645.2,1,0,0,0000000
185024,SMU01000000000000001,1991,M05,1653.5,1,0,0,0000000
...,...,...,...,...,...,...,...,...
7558339,SMU56169409000000001,2021,M02,13.5,56,16940,90,90000000
7558340,SMU56169409000000001,2021,M03,13.6,56,16940,90,90000000
7558341,SMU56169409000000001,2021,M04,13.7,56,16940,90,90000000
7558342,SMU56169409000000001,2021,M05,13.7,56,16940,90,90000000
7558343,SMU56169409000000001,2021,M06,13.7,56,16940,90,90000000

In [22]:
change_dir('output')
all_data_supersector.to_csv('industries.csv')   # Long format file

In [23]:
'''# Parse years as columns
all_data_supersector = all_data_supersector.set_index(['series_id','period','state_code','area_code','supersector_code','industry_code','data_type_code','seasonal','year'])['value'].unstack()
change_dir('ouput')
all_data_supersector.to_csv('industries.csv')'''

"# Parse years as columns\nall_data_supersector = all_data_supersector.set_index(['series_id','period','state_code','area_code','supersector_code','industry_code','data_type_code','seasonal','year'])['value'].unstack()\nchange_dir('ouput')\nall_data_supersector.to_csv('industries.csv')"

## Industry Dataset for Stage 1 Analysis

In [24]:
# Data preprocessing
all_data_series = all_data_series[all_data_series['year']>2014]
all_data_supersector = pd.merge(all_data_series, supersector_series, on='supersector_code')
all_data_supersector = all_data_supersector[all_data_supersector['seasonal'] != 'S']
all_data_supersector = all_data_supersector.drop(['footnote_codes_x','benchmark_year','footnote_codes_y','begin_year', 'begin_period', 'end_year', 'end_period','seasonal','data_type_code','supersector_name'],axis=1)
all_data_supersector

,series_id,year,period,value,state_code,area_code,supersector_code,industry_code
38064,SMU01000000000000001,2015,M01,1932.5,1,0,0,0
38065,SMU01000000000000001,2015,M02,1945.1,1,0,0,0
38066,SMU01000000000000001,2015,M03,1953.7,1,0,0,0
38067,SMU01000000000000001,2015,M04,1969.1,1,0,0,0
38068,SMU01000000000000001,2015,M05,1978.2,1,0,0,0
...,...,...,...,...,...,...,...,...
1567999,SMU56169409093161101,2021,M02,3.6,56,16940,90,90931611
1568000,SMU56169409093161101,2021,M03,3.6,56,16940,90,90931611
1568001,SMU56169409093161101,2021,M04,3.6,56,16940,90,90931611
1568002,SMU56169409093161101,2021,M05,3.6,56,16940,90,90931611
1568003,SMU56169409093161101,2021,M06,3.6,56,16940,90,90931611

In [25]:
# Filtering industry codes for 3 digit industries
all_data_supersector['industry_code'] = all_data_supersector['industry_code'].astype(str)
all_data_supersector['industry_code'] = np.where((all_data_supersector.industry_code == '0'),'00000000',all_data_supersector.industry_code)
all_data_supersector['industry_last3'] = all_data_supersector['industry_code'].str[5:9]
all_data_supersector = all_data_supersector[(all_data_supersector['industry_last3']=='000') | (all_data_supersector['industry_last3']=='00')]
all_data_supersector = all_data_supersector.drop(['industry_last3'],axis=1)
all_data_supersector.reset_index()

,index,series_id,year,period,value,state_code,area_code,supersector_code,industry_code
0,38064,SMU01000000000000001,2015,M01,1932.5,1,0,0,00000000
1,38065,SMU01000000000000001,2015,M02,1945.1,1,0,0,00000000
2,38066,SMU01000000000000001,2015,M03,1953.7,1,0,0,00000000
3,38067,SMU01000000000000001,2015,M04,1969.1,1,0,0,00000000
4,38068,SMU01000000000000001,2015,M05,1978.2,1,0,0,00000000
...,...,...,...,...,...,...,...,...,...
1227235,1567915,SMU56169409093000001,2021,M02,7.0,56,16940,90,90930000
1227236,1567916,SMU56169409093000001,2021,M03,7.0,56,16940,90,90930000
1227237,1567917,SMU56169409093000001,2021,M04,7.0,56,16940,90,90930000
1227238,1567918,SMU56169409093000001,2021,M05,7.0,56,16940,90,90930000
1227239,1567919,SMU56169409093000001,2021,M06,7.0,56,16940,90,90930000

In [26]:
# Filter and save for states vs MSA
all_data_supersector_states = all_data_supersector[all_data_supersector['area_code']==0]
all_data_supersector_msa = all_data_supersector[all_data_supersector['area_code']>0]
change_dir('output')
all_data_supersector_states.to_csv('industries_states_s1.csv')
all_data_supersector_msa.to_csv('industries_msa_s1.csv')