# Pandemic Policies

The data is sourced from Oxford University's Covid-19 Government Response Tracker. The data link is the GitHub repository which is updated on a daily basis. The program filters the obtained data for US states, and focuses on mainly four indices - Stringency Index, Government Response Index, Containment Health Index, and Economic Index. The methodology for calculating the indices can be found here: https://github.com/OxCGRT/covid-policy-tracker/blob/master/documentation/index_methodology.md. The dataset is grouped for each state and corresponding year/month.

In [23]:
# Import libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
import os
import sys
sys.path.append("../")

In [24]:
# Read the dataset in csv format
data = pd.read_csv('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv')

C:\Users\himan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
data.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Extract data for US states
state_data = data[(data['CountryName'] == 'United States') & (data['Jurisdiction'] =='STATE_TOTAL')]
state_data

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
148428,United States,USA,Alaska,US_AK,STATE_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148429,United States,USA,Alaska,US_AK,STATE_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148430,United States,USA,Alaska,US_AK,STATE_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148431,United States,USA,Alaska,US_AK,STATE_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148432,United States,USA,Alaska,US_AK,STATE_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178462,United States,USA,Wyoming,US_WY,STATE_TOTAL,20210807,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178463,United States,USA,Wyoming,US_WY,STATE_TOTAL,20210808,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178464,United States,USA,Wyoming,US_WY,STATE_TOTAL,20210809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178465,United States,USA,Wyoming,US_WY,STATE_TOTAL,20210810,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178466,United States,USA,Wyoming,US_WY,STATE_TOTAL,20210811,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Number of states
state_data['RegionName'].unique()

array(['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'Washington DC', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois', 'Indiana',
       'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts', 'Maryland',
       'Maine', 'Michigan', 'Minnesota', 'Missouri', 'Mississippi',
       'Montana', 'North Carolina', 'North Dakota', 'Nebraska',
       'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada', 'New York',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Virginia', 'Vermont', 'Washington', 'Wisconsin', 'West Virginia',
       'Wyoming'], dtype=object)

In [28]:
# Fill the NaNs with 0
state_data[['GovernmentResponseIndex','StringencyIndex','ContainmentHealthIndex','EconomicSupportIndex']]

,GovernmentResponseIndex,StringencyIndex,ContainmentHealthIndex,EconomicSupportIndex
148428,0.0,0.0,0.0,0.0
148429,0.0,0.0,0.0,0.0
148430,0.0,0.0,0.0,0.0
148431,0.0,0.0,0.0,0.0
148432,0.0,0.0,0.0,0.0
...,...,...,...,...
178462,NaN,NaN,NaN,NaN
178463,NaN,NaN,NaN,NaN
178464,NaN,NaN,NaN,NaN
178465,NaN,NaN,NaN,NaN
178466,NaN,NaN,NaN,NaN

In [29]:
# Change the index of the dataframe to date
state_data.index = pd.to_datetime(state_data['Date'],format='%Y%m%d')
# Group the data based on state name, month, and year
state_grouped = state_data.groupby(by=[state_data.RegionName.rename('state'), state_data.index.year.rename('year'), state_data.index.month.rename('month')]).mean().reset_index()
state_grouped

,state,year,month,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Alabama,2020,1,20200116.0,0.000000,NaN,0.000000,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,1.949355,1.949355,2.111290,2.111290,0.806452,0.806452
1,Alabama,2020,2,20200215.0,0.000000,NaN,0.000000,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,5.210000,5.210000,5.950000,5.950000,0.000000,0.000000
2,Alabama,2020,3,20200316.0,1.419355,1.000000,1.516129,0.450000,1.096774,0.263158,...,38.574194,38.574194,43.524194,43.524194,33.896129,33.896129,36.664839,36.664839,14.516129,14.516129
3,Alabama,2020,4,20200415.5,3.000000,0.966667,2.966667,1.000000,2.000000,1.000000,...,78.873667,78.873667,82.616000,82.616000,70.249333,70.249333,71.355667,71.355667,62.500000,62.500000
4,Alabama,2020,5,20200516.0,3.000000,0.000000,2.000000,0.677419,2.000000,0.677419,...,66.784194,66.784194,72.312903,72.312903,65.953548,65.953548,66.445161,66.445161,62.500000,62.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,Wyoming,2021,4,20210415.5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,51.973667,51.973667,67.860000,67.860000,53.348667,53.348667,55.608333,55.608333,37.500000,37.500000
1016,Wyoming,2021,5,20210516.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,49.880645,49.880645,67.860000,67.860000,53.428387,53.428387,55.700968,55.700968,37.500000,37.500000
1017,Wyoming,2021,6,20210615.5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,46.300000,46.300000,67.860000,67.860000,51.560000,51.560000,53.570000,53.570000,37.500000,37.500000
1018,Wyoming,2021,7,20210716.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,46.300000,46.300000,67.860000,67.860000,51.761290,51.761290,52.823548,52.823548,44.354839,44.354839
1019,Wyoming,2021,8,20210806.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,46.300000,46.300000,67.860000,67.860000,48.440000,48.440000,51.790000,51.790000,25.000000,25.000000

In [30]:
# Drop irrelevant columns
state_grouped.drop(state_grouped.columns.difference(['state','month','year','GovernmentResponseIndex','StringencyIndex','ContainmentHealthIndex','EconomicSupportIndex']), 1, inplace=True)

In [32]:
state_grouped = state_grouped.fillna(0)
state_grouped['state'] = state_grouped['state'].replace({'Washington DC':'District of Columbia'})
state_grouped

,state,year,month,StringencyIndex,GovernmentResponseIndex,ContainmentHealthIndex,EconomicSupportIndex
0,Alabama,2020,1,0.000000,1.949355,2.111290,0.806452
1,Alabama,2020,2,0.000000,5.210000,5.950000,0.000000
2,Alabama,2020,3,38.574194,33.896129,36.664839,14.516129
3,Alabama,2020,4,78.873667,70.249333,71.355667,62.500000
4,Alabama,2020,5,66.784194,65.953548,66.445161,62.500000
...,...,...,...,...,...,...,...
1015,Wyoming,2021,4,51.973667,53.348667,55.608333,37.500000
1016,Wyoming,2021,5,49.880645,53.428387,55.700968,37.500000
1017,Wyoming,2021,6,46.300000,51.560000,53.570000,37.500000
1018,Wyoming,2021,7,46.300000,51.761290,52.823548,44.354839
1019,Wyoming,2021,8,46.300000,48.440000,51.790000,25.000000

In [33]:
# Go to the Input folder
get_path = sys.path[0].split("\\")      # Get the path of current folder
del get_path[-1]                        # Delete the folder name to get path of the parent directory
cwd = "input"                           # Name the directory you need to access files from
get_path.append(cwd)                    # Append it to the list with the parent directory
path = "\\".join(get_path)              # Join the list items to a string
os.chdir(path)                          # Load the directory as the child directory

In [34]:
state_codes = pd.read_csv("State_msa_names.csv")
state_codes.head(5)

   fips   state_proper              division            region state_abbr
0     9    Connecticut  New England Division  Northeast Region         CT
1    23          Maine  New England Division  Northeast Region         ME
2    25  Massachusetts  New England Division  Northeast Region         MA
3    33  New Hampshire  New England Division  Northeast Region         NH
4    44   Rhode Island  New England Division  Northeast Region         RI

In [37]:
# Merge state codes
merged = pd.merge(state_grouped, state_codes, left_on='state', right_on='state_proper')
merged['state']

0       Alabama
1       Alabama
2       Alabama
3       Alabama
4       Alabama
         ...
1015    Wyoming
1016    Wyoming
1017    Wyoming
1018    Wyoming
1019    Wyoming
Name: state, Length: 1020, dtype: object

In [38]:
# Go to the Output folder
get_path = sys.path[0].split("\\")
del get_path[-1]
cwd = "output"
get_path.append(cwd)
path = "\\".join(get_path)
os.chdir(path)

In [39]:
# Convert the output to csv
merged.to_csv('pandemic_policies.csv')