# Stage-1 Analysis

Stage 1 analysis focuses on finding correlation of industry employment with total employment.

In [3]:
# Import libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
from os import *
import sys
sys.path.append("../")

In [4]:
# Change directory
def change_dir(newpath):
    get_path = sys.path[0].split("\\")      
    del get_path[-1]                                                
    get_path.append(newpath)                    
    path = "\\".join(get_path)              
    os.chdir(path)

## MSA level

In [5]:
# Retrieve industry file filtered for 2019 yearly data
change_dir('output')
df = pd.read_csv("merged_industry_LAUS.csv",index_col=[0])
df = df[df['year']==2019]
df = df[df['period']=='M13']
df = df.fillna(0)
df

,year,period,industry_employment,state_code,area_code,supersector_code,industry_code,unemployment_rate,unemployment,employment,labor_force
1280,2019,M13,47.3,1,11500,0,0,3.6,1642.0,44440.0,46082.0
1281,2019,M13,34.3,1,11500,5,5000000,3.6,1642.0,44440.0,46082.0
1282,2019,M13,7.8,1,11500,6,6000000,3.6,1642.0,44440.0,46082.0
1283,2019,M13,39.5,1,11500,7,7000000,3.6,1642.0,44440.0,46082.0
1284,2019,M13,26.6,1,11500,8,8000000,3.6,1642.0,44440.0,46082.0
...,...,...,...,...,...,...,...,...,...,...,...
913012,2019,M13,1.6,56,16940,80,80000000,3.5,1759.0,48017.0,49776.0
913013,2019,M13,13.9,56,16940,90,90000000,3.5,1759.0,48017.0,49776.0
913014,2019,M13,2.7,56,16940,90,90910000,3.5,1759.0,48017.0,49776.0
913015,2019,M13,3.9,56,16940,90,90920000,3.5,1759.0,48017.0,49776.0
913016,2019,M13,7.4,56,16940,90,90930000,3.5,1759.0,48017.0,49776.0

In [6]:
# Get area code as the index and industries as columns
df1 = df.pivot_table(index='area_code',columns='industry_code',values='industry_employment', aggfunc='mean')
df1 = df1.reset_index()
df1

industry_code,area_code,0,5000000,6000000,7000000,8000000,10000000,10211000,10213000,15000000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,10180,72.4,59.6,8.5,63.9,51.1,NaN,NaN,NaN,5.3,...,NaN,NaN,NaN,12.8,1.3,3.4,NaN,8.1,NaN,NaN
1,10420,340.6,296.2,54.7,285.8,241.4,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,44.4,2.3,14.0,NaN,28.1,NaN,NaN
2,10500,62.8,50.4,6.9,55.9,43.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.3,2.7,2.4,NaN,7.2,NaN,NaN
3,10540,46.9,40.0,12.3,34.5,27.7,0.4,NaN,NaN,3.7,...,NaN,NaN,NaN,6.9,0.3,0.6,NaN,6.0,2.1,NaN
4,10580,472.0,369.3,46.3,425.7,322.9,NaN,NaN,NaN,20.2,...,NaN,NaN,NaN,102.8,6.9,50.7,NaN,45.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,77200,599.8,524.0,76.0,523.9,448.0,0.2,NaN,NaN,25.5,...,NaN,NaN,NaN,75.8,11.6,21.5,NaN,42.7,15.4,NaN
423,78100,339.5,276.9,41.4,298.1,235.5,NaN,NaN,NaN,11.8,...,NaN,NaN,NaN,62.5,6.0,24.3,NaN,32.2,NaN,NaN
424,78254,61.9,53.0,9.6,52.3,43.4,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,8.9,0.4,2.3,NaN,6.2,NaN,NaN
425,78700,69.0,58.4,10.5,58.5,47.9,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,10.6,0.5,2.2,NaN,7.9,NaN,NaN
426,79600,290.4,246.1,39.3,251.1,206.8,NaN,NaN,NaN,11.2,...,NaN,NaN,NaN,44.3,2.1,16.0,NaN,26.2,NaN,NaN

In [7]:
# Find correlations
col_name = list(df1.columns)
col_name.remove('area_code')
lst = []
for i in col_name:
    cor = df1[0].corr(df1[i])
    lst.append(cor)
lst.insert(0,0)
len(lst)

C:\Users\himan\anaconda3\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\himan\anaconda3\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

111

In [8]:
# Append the row with correlations to the dataframe
a_series = pd.Series(lst, index = df1.columns)
df2 = df1.append(a_series,ignore_index=True)
df2

industry_code,area_code,0,5000000,6000000,7000000,8000000,10000000,10211000,10213000,15000000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,10180.0,72.4,59.600000,8.500000,63.900000,51.100000,NaN,NaN,NaN,5.300000,...,NaN,NaN,NaN,12.800000,1.300000,3.400000,NaN,8.100000,NaN,NaN
1,10420.0,340.6,296.200000,54.700000,285.800000,241.400000,NaN,NaN,NaN,15.000000,...,NaN,NaN,NaN,44.400000,2.300000,14.000000,NaN,28.100000,NaN,NaN
2,10500.0,62.8,50.400000,6.900000,55.900000,43.600000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.300000,2.700000,2.400000,NaN,7.200000,NaN,NaN
3,10540.0,46.9,40.000000,12.300000,34.500000,27.700000,0.400000,NaN,NaN,3.700000,...,NaN,NaN,NaN,6.900000,0.300000,0.600000,NaN,6.000000,2.100000,NaN
4,10580.0,472.0,369.300000,46.300000,425.700000,322.900000,NaN,NaN,NaN,20.200000,...,NaN,NaN,NaN,102.800000,6.900000,50.700000,NaN,45.200000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,78100.0,339.5,276.900000,41.400000,298.100000,235.500000,NaN,NaN,NaN,11.800000,...,NaN,NaN,NaN,62.500000,6.000000,24.300000,NaN,32.200000,NaN,NaN
424,78254.0,61.9,53.000000,9.600000,52.300000,43.400000,NaN,NaN,NaN,3.500000,...,NaN,NaN,NaN,8.900000,0.400000,2.300000,NaN,6.200000,NaN,NaN
425,78700.0,69.0,58.400000,10.500000,58.500000,47.900000,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,10.600000,0.500000,2.200000,NaN,7.900000,NaN,NaN
426,79600.0,290.4,246.100000,39.300000,251.100000,206.800000,NaN,NaN,NaN,11.200000,...,NaN,NaN,NaN,44.300000,2.100000,16.000000,NaN,26.200000,NaN,NaN
427,0.0,1.0,0.999533,0.949071,0.999329,0.999122,0.192204,NaN,0.989288,0.956005,...,0.963782,0.944213,0.658831,0.978961,0.571627,0.801565,0.531891,0.986883,0.985825,0.910667

In [9]:
# Find NaN values column-wise and row-wise
df2 = df2.append(df2.isna().sum(),ignore_index=True)
df2 = df2.append(df1.notnull().sum(),ignore_index=True)
df2

industry_code,area_code,0,5000000,6000000,7000000,8000000,10000000,10211000,10213000,15000000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,10180.0,72.4,59.600000,8.500000,63.900000,51.100000,NaN,NaN,NaN,5.300000,...,NaN,NaN,NaN,12.800000,1.300000,3.400000,NaN,8.100000,NaN,NaN
1,10420.0,340.6,296.200000,54.700000,285.800000,241.400000,NaN,NaN,NaN,15.000000,...,NaN,NaN,NaN,44.400000,2.300000,14.000000,NaN,28.100000,NaN,NaN
2,10500.0,62.8,50.400000,6.900000,55.900000,43.600000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.300000,2.700000,2.400000,NaN,7.200000,NaN,NaN
3,10540.0,46.9,40.000000,12.300000,34.500000,27.700000,0.400000,NaN,NaN,3.700000,...,NaN,NaN,NaN,6.900000,0.300000,0.600000,NaN,6.000000,2.100000,NaN
4,10580.0,472.0,369.300000,46.300000,425.700000,322.900000,NaN,NaN,NaN,20.200000,...,NaN,NaN,NaN,102.800000,6.900000,50.700000,NaN,45.200000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,78700.0,69.0,58.400000,10.500000,58.500000,47.900000,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,10.600000,0.500000,2.200000,NaN,7.900000,NaN,NaN
426,79600.0,290.4,246.100000,39.300000,251.100000,206.800000,NaN,NaN,NaN,11.200000,...,NaN,NaN,NaN,44.300000,2.100000,16.000000,NaN,26.200000,NaN,NaN
427,0.0,1.0,0.999533,0.949071,0.999329,0.999122,0.192204,NaN,0.989288,0.956005,...,0.963782,0.944213,0.658831,0.978961,0.571627,0.801565,0.531891,0.986883,0.985825,0.910667
428,0.0,0.0,0.000000,0.000000,0.000000,0.000000,361.000000,427.0,424.000000,68.000000,...,415.000000,416.000000,417.000000,0.000000,37.000000,47.000000,401.000000,45.000000,373.000000,415.000000
429,427.0,427.0,427.000000,427.000000,427.000000,427.000000,66.000000,1.0,3.000000,359.000000,...,12.000000,11.000000,10.000000,427.000000,390.000000,380.000000,26.000000,382.000000,54.000000,12.000000

In [10]:
# Extract the computation rows at the end of the dataframe
df3 = df2.iloc[-3:]
df3 = df3.transpose()
df3.rename(columns = { 427: 'corrs', 428: 'nans', 429:'MSAs' }, inplace=True)

In [11]:
# Add industry names
change_dir('input//industry')
industry_names = pd.read_csv('industry_codes.csv',sep='\t')
merged = df3.merge(industry_names,on='industry_code')
merged

,industry_code,corrs,nans,MSAs,industry_name
0,0,1.000000,0.0,427.0,Total Nonfarm
1,5000000,0.999533,0.0,427.0,Total Private
2,6000000,0.949071,0.0,427.0,Goods Producing
3,7000000,0.999329,0.0,427.0,Service-Providing
4,8000000,0.999122,0.0,427.0,Private Service Providing
...,...,...,...,...,...
105,90920000,0.801565,47.0,380.0,State Government
106,90922000,0.531891,401.0,26.0,State Government Excluding Education
107,90930000,0.986883,45.0,382.0,Local Government
108,90932000,0.985825,373.0,54.0,Local Government excluding Educational Services
109,90940000,0.910667,415.0,12.0,Total State and Local Government

In [12]:
# Check if the industry is a supersector
supersector_names = pd.read_csv('supersector_series.csv',sep='\t')
supersector_names = supersector_names.rename(columns={'supersector_name':'industry_name'})
merged2 = merged.merge(supersector_names,on='industry_name',how='left')
merged2['supersector'] = merged2['supersector_code'].isna()
merged2['supersector'] = merged2['supersector'].replace(False,'Yes')
merged2['supersector'] = merged2['supersector'].replace(True,'No')
merged2

,industry_code,corrs,nans,MSAs,industry_name,supersector_code,supersector
0,0,1.000000,0.0,427.0,Total Nonfarm,0.0,Yes
1,5000000,0.999533,0.0,427.0,Total Private,5.0,Yes
2,6000000,0.949071,0.0,427.0,Goods Producing,6.0,Yes
3,7000000,0.999329,0.0,427.0,Service-Providing,7.0,Yes
4,8000000,0.999122,0.0,427.0,Private Service Providing,8.0,Yes
...,...,...,...,...,...,...,...
105,90920000,0.801565,47.0,380.0,State Government,NaN,No
106,90922000,0.531891,401.0,26.0,State Government Excluding Education,NaN,No
107,90930000,0.986883,45.0,382.0,Local Government,NaN,No
108,90932000,0.985825,373.0,54.0,Local Government excluding Educational Services,NaN,No
109,90940000,0.910667,415.0,12.0,Total State and Local Government,NaN,No

In [13]:
# Save output
change_dir('output')
merged2 = merged2.drop(['supersector_code'],axis=1)
merged2.to_csv("stage1.csv",index=False)

## State level

In [18]:
# Retrieve industry file filtered for 2019 yearly data
change_dir('output')
df = pd.read_csv("merged_industry_LAUS_state.csv",index_col=[0])
df = df[df['year']==2019]
df = df[df['period']=='M13']
df

,year,period,industry_employment,state_code,area_code,supersector_code,industry_code,unemployment_rate,unemployment,employment,labor_force,employment_population_ratio,labor_force_participation_rate,9
4608,2019,M13,2074.8,1,0,0,0,3.0,67883.0,2169395.0,2237278.0,56.1,57.9,3865781.0
4609,2019,M13,1682.9,1,0,5,5000000,3.0,67883.0,2169395.0,2237278.0,56.1,57.9,3865781.0
4610,2019,M13,372.7,1,0,6,6000000,3.0,67883.0,2169395.0,2237278.0,56.1,57.9,3865781.0
4611,2019,M13,1702.0,1,0,7,7000000,3.0,67883.0,2169395.0,2237278.0,56.1,57.9,3865781.0
4612,2019,M13,1310.2,1,0,8,8000000,3.0,67883.0,2169395.0,2237278.0,56.1,57.9,3865781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276009,2019,M13,7.6,56,0,90,90910000,3.7,11007.0,285292.0,296299.0,63.2,65.6,451410.0
276010,2019,M13,14.7,56,0,90,90920000,3.7,11007.0,285292.0,296299.0,63.2,65.6,451410.0
276011,2019,M13,8.9,56,0,90,90922000,3.7,11007.0,285292.0,296299.0,63.2,65.6,451410.0
276012,2019,M13,46.6,56,0,90,90930000,3.7,11007.0,285292.0,296299.0,63.2,65.6,451410.0
276013,2019,M13,22.9,56,0,90,90932000,3.7,11007.0,285292.0,296299.0,63.2,65.6,451410.0

In [19]:
# Get area code as the index and industries as columns
df1 = df.pivot_table(index='state_code',columns='industry_code',values='industry_employment',aggfunc='mean')
df1 = df1.reset_index()
df1

industry_code,state_code,0,5000000,6000000,7000000,8000000,10000000,10210000,10211000,10212000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,1,2074.8,1682.9,372.7,1702.0,1310.2,10.2,NaN,NaN,5.1,...,NaN,NaN,NaN,391.9,54.1,120.1,50.6,217.7,121.0,NaN
1,2,330.0,250.1,42.9,287.2,207.3,13.4,13.1,NaN,NaN,...,NaN,NaN,NaN,79.9,14.9,23.2,16.8,41.8,19.3,NaN
2,4,2942.8,2520.3,361.4,2581.4,2158.9,13.3,NaN,NaN,NaN,...,NaN,NaN,NaN,422.5,56.5,91.6,36.6,274.5,134.2,NaN
3,5,1280.4,1068.7,220.7,1059.6,848.0,5.9,NaN,NaN,NaN,...,NaN,NaN,NaN,211.7,20.3,78.1,48.0,113.3,44.5,NaN
4,6,17430.4,14833.0,2234.5,15195.9,12598.5,22.5,20.5,4.6,5.9,...,158.1,187.1,231.0,2597.4,248.2,533.4,275.8,1815.8,829.2,NaN
5,8,2790.1,2335.0,358.4,2431.7,1976.6,28.8,NaN,NaN,NaN,...,26.7,30.3,57.7,455.1,53.1,130.2,51.3,271.8,130.7,NaN
6,9,1696.1,1460.1,222.1,1474.0,1237.9,0.5,NaN,NaN,NaN,...,13.2,22.5,29.6,236.0,18.2,71.3,40.5,146.6,56.9,NaN
7,10,466.8,399.9,50.3,416.5,349.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,66.9,5.7,33.3,18.7,27.9,7.3,NaN
8,11,797.2,559.4,16.1,781.1,543.2,NaN,NaN,NaN,NaN,...,NaN,NaN,68.9,237.9,195.2,NaN,NaN,NaN,NaN,42.6
9,12,8966.4,7841.6,955.6,8010.8,6886.0,5.7,NaN,NaN,3.4,...,87.9,102.8,162.7,1124.8,142.9,257.8,114.9,724.1,371.5,NaN
10,13,4619.9,3928.8,620.3,3999.6,3308.5,9.5,NaN,NaN,NaN,...,41.9,40.2,83.8,691.1,103.3,168.1,70.1,419.7,172.8,NaN
11,15,658.5,532.3,51.3,607.3,481.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,126.2,34.3,72.9,22.4,19.0,NaN,NaN
12,16,760.2,633.5,125.6,634.6,507.9,3.7,NaN,NaN,NaN,...,8.1,NaN,NaN,126.6,13.2,30.4,15.5,83.0,38.6,NaN
13,17,6124.6,5301.7,822.5,5302.1,4479.2,8.3,NaN,NaN,NaN,...,57.2,59.9,138.3,822.9,79.0,147.7,NaN,596.2,248.7,NaN
14,18,3159.9,2734.3,693.1,2466.9,2041.2,6.1,NaN,NaN,NaN,...,30.7,27.0,70.2,425.6,38.9,113.8,33.7,272.9,128.5,NaN
15,19,1587.2,1326.7,306.6,1280.7,1020.1,2.4,NaN,NaN,NaN,...,NaN,NaN,NaN,260.6,17.6,67.9,28.2,175.0,72.8,NaN
16,20,1423.8,1164.5,241.0,1182.9,923.5,6.7,NaN,NaN,NaN,...,NaN,NaN,NaN,259.4,25.5,51.8,24.8,182.1,75.7,NaN
17,21,1945.4,1633.8,342.9,1602.4,1290.9,10.2,NaN,NaN,NaN,...,NaN,NaN,NaN,311.6,34.9,93.3,44.3,183.4,71.6,NaN
18,22,1993.6,1662.4,316.8,1676.8,1345.6,36.7,NaN,5.8,NaN,...,19.9,NaN,NaN,331.2,31.6,89.7,41.6,209.9,107.8,NaN
19,23,637.1,535.9,85.5,551.6,450.5,2.2,NaN,NaN,NaN,...,NaN,NaN,NaN,101.2,16.1,25.5,13.7,59.6,22.6,NaN
20,24,2769.9,2262.5,280.4,2489.5,1982.1,1.3,NaN,NaN,NaN,...,NaN,32.5,NaN,507.4,145.5,111.0,57.1,250.9,94.3,NaN
21,25,3700.8,3243.4,408.2,3292.6,2835.2,1.1,NaN,NaN,NaN,...,27.9,46.0,66.3,457.4,45.6,130.2,73.6,281.6,102.9,NaN
22,26,4442.7,3828.4,807.2,3635.6,3021.3,7.3,5.6,NaN,NaN,...,42.6,42.0,82.1,614.3,52.4,195.1,72.6,366.8,176.1,NaN
23,27,2983.2,2557.3,457.9,2525.3,2099.4,6.6,NaN,NaN,NaN,...,22.3,28.7,63.5,425.9,32.1,100.5,41.2,293.3,149.4,NaN
24,28,1158.6,916.7,198.2,960.4,718.5,6.8,NaN,NaN,NaN,...,9.7,NaN,NaN,241.9,25.5,59.7,36.4,156.7,75.6,NaN
25,29,2914.6,2477.4,408.4,2506.2,2069.0,4.4,NaN,NaN,NaN,...,25.1,25.7,NaN,437.2,55.6,104.9,NaN,276.7,NaN,NaN
26,30,484.5,393.7,58.3,426.2,335.5,7.3,6.7,NaN,4.4,...,NaN,NaN,NaN,90.8,13.3,27.8,13.2,49.7,21.6,NaN
27,31,1026.9,853.2,154.7,872.2,698.5,1.1,NaN,NaN,NaN,...,9.5,8.1,19.6,173.7,17.0,43.9,17.2,112.9,47.5,NaN
28,32,1421.9,1256.6,170.2,1251.7,1086.4,14.7,NaN,NaN,NaN,...,NaN,NaN,NaN,165.3,19.5,41.4,19.9,104.4,48.6,NaN
29,33,684.0,593.6,100.3,583.7,493.3,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,90.3,7.9,24.4,13.4,58.1,23.2,NaN
30,34,4197.4,3591.6,413.3,3784.1,3178.3,1.4,NaN,NaN,NaN,...,33.9,64.1,75.5,605.8,48.4,141.1,95.3,416.3,154.2,NaN
31,35,855.1,668.2,104.5,750.5,563.7,25.9,NaN,NaN,NaN,...,NaN,NaN,NaN,186.9,29.0,53.9,30.0,103.9,51.4,NaN
32,36,9786.3,8293.2,851.7,8934.6,7441.4,5.3,4.7,NaN,NaN,...,60.8,128.9,226.3,1493.2,115.0,257.5,183.2,1120.7,550.5,NaN
33,37,4580.2,3847.0,715.3,3864.9,3131.8,5.7,3.1,NaN,NaN,...,42.2,39.1,85.2,733.1,74.2,205.2,87.9,453.7,251.4,NaN
34,38,440.9,358.0,76.6,364.4,281.4,21.4,NaN,NaN,NaN,...,4.4,3.3,7.8,82.9,9.3,22.7,10.3,50.9,27.0,NaN
35,39,5594.6,4803.3,939.3,4655.3,3864.0,11.8,NaN,NaN,NaN,...,49.2,56.4,107.6,791.3,79.6,179.9,75.6,531.8,240.9,NaN
36,40,1705.1,1352.1,271.6,1433.5,1080.5,47.8,NaN,NaN,NaN,...,15.4,12.5,NaN,353.0,49.7,81.1,34.9,222.2,123.7,NaN
37,41,1954.2,1655.8,314.6,1639.6,1341.2,6.9,NaN,NaN,NaN,...,18.9,15.9,29.9,298.4,28.5,40.9,40.1,229.0,95.8,NaN
38,42,6065.9,5359.6,864.6,5201.3,4495.0,28.9,28.1,NaN,NaN,...,53.6,71.2,137.1,706.3,98.1,155.2,99.0,453.0,183.0,NaN
39,44,504.0,438.8,60.1,443.9,378.7,0.2,NaN,NaN,NaN,...,NaN,NaN,NaN,65.2,11.2,20.3,12.4,33.8,12.3,NaN
40,45,2190.0,1816.2,369.5,1820.4,1446.7,4.4,NaN,NaN,NaN,...,21.3,19.2,NaN,373.8,35.0,108.4,55.7,230.3,120.9,NaN
41,46,440.5,360.5,69.6,370.9,290.9,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,80.0,11.3,18.5,9.1,50.2,23.9,NaN
42,47,3122.9,2685.2,489.8,2633.0,2195.4,4.5,NaN,NaN,NaN,...,NaN,NaN,NaN,437.6,50.1,96.8,41.4,290.7,148.6,NaN
43,48,12813.9,10836.4,1930.5,10883.4,8905.9,249.1,247.6,75.7,NaN,...,136.8,119.6,189.4,1977.5,204.1,424.7,175.5,1348.6,474.5,NaN
44,49,1557.4,1305.6,255.9,1301.6,1049.8,9.4,NaN,NaN,NaN,...,16.8,NaN,NaN,251.8,37.3,84.6,33.8,130.0,58.7,NaN
45,50,316.3,259.8,46.2,270.1,213.7,0.8,NaN,NaN,NaN,...,NaN,NaN,NaN,56.5,7.1,19.1,9.7,30.3,7.8,NaN
46,51,4058.4,3326.8,454.7,3603.7,2872.0,7.8,NaN,NaN,NaN,...,35.2,45.7,117.0,731.7,181.8,162.3,72.4,387.6,161.4,NaN
47,53,3468.5,2881.0,519.1,2949.5,2361.9,5.9,NaN,NaN,NaN,...,29.0,36.4,64.0,587.5,75.8,149.8,68.7,362.0,184.4,NaN
48,54,721.2,568.7,104.8,616.4,463.9,22.3,NaN,NaN,NaN,...,NaN,NaN,NaN,152.5,24.0,47.9,26.3,80.6,40.5,NaN
49,55,2987.7,2577.9,612.1,2375.5,1965.8,4.2,NaN,NaN,NaN,...,24.0,27.3,101.3,409.8,29.3,97.6,44.9,282.9,129.8,NaN
50,56,290.3,221.5,53.8,236.6,167.7,20.8,20.8,3.0,7.8,...,3.4,NaN,NaN,68.9,7.6,14.7,8.9,46.6,22.9,NaN

In [34]:
# Find correlations
col_name = list(df1.columns)
col_name.remove('state_code')
lst = []
for i in col_name:
    cor = df1[0].corr(df1[i])
    lst.append(cor)
lst.insert(0,0)
len(lst)

C:\Users\himan\anaconda3\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\himan\anaconda3\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

115

In [35]:
# Append the row with correlations to the dataframe
a_series = pd.Series(lst, index = df1.columns)
df2 = df1.append(a_series,ignore_index=True)
df2

industry_code,state_code,0,5000000,6000000,7000000,8000000,10000000,10210000,10211000,10212000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,1.0,2074.8,1682.900000,372.700000,1702.000000,1310.200000,10.200000,NaN,NaN,5.100000,...,NaN,NaN,NaN,391.900000,54.100000,120.100000,50.60000,217.700000,121.000000,NaN
1,2.0,330.0,250.100000,42.900000,287.200000,207.300000,13.400000,13.100000,NaN,NaN,...,NaN,NaN,NaN,79.900000,14.900000,23.200000,16.80000,41.800000,19.300000,NaN
2,4.0,2942.8,2520.300000,361.400000,2581.400000,2158.900000,13.300000,NaN,NaN,NaN,...,NaN,NaN,NaN,422.500000,56.500000,91.600000,36.60000,274.500000,134.200000,NaN
3,5.0,1280.4,1068.700000,220.700000,1059.600000,848.000000,5.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,211.700000,20.300000,78.100000,48.00000,113.300000,44.500000,NaN
4,6.0,17430.4,14833.000000,2234.500000,15195.900000,12598.500000,22.500000,20.500000,4.600000,5.900000,...,158.100000,187.100000,231.000000,2597.400000,248.200000,533.400000,275.80000,1815.800000,829.200000,NaN
5,8.0,2790.1,2335.000000,358.400000,2431.700000,1976.600000,28.800000,NaN,NaN,NaN,...,26.700000,30.300000,57.700000,455.100000,53.100000,130.200000,51.30000,271.800000,130.700000,NaN
6,9.0,1696.1,1460.100000,222.100000,1474.000000,1237.900000,0.500000,NaN,NaN,NaN,...,13.200000,22.500000,29.600000,236.000000,18.200000,71.300000,40.50000,146.600000,56.900000,NaN
7,10.0,466.8,399.900000,50.300000,416.500000,349.600000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,66.900000,5.700000,33.300000,18.70000,27.900000,7.300000,NaN
8,11.0,797.2,559.400000,16.100000,781.100000,543.200000,NaN,NaN,NaN,NaN,...,NaN,NaN,68.900000,237.900000,195.200000,NaN,NaN,NaN,NaN,42.6
9,12.0,8966.4,7841.600000,955.600000,8010.800000,6886.000000,5.700000,NaN,NaN,3.400000,...,87.900000,102.800000,162.700000,1124.800000,142.900000,257.800000,114.90000,724.100000,371.500000,NaN
10,13.0,4619.9,3928.800000,620.300000,3999.600000,3308.500000,9.500000,NaN,NaN,NaN,...,41.900000,40.200000,83.800000,691.100000,103.300000,168.100000,70.10000,419.700000,172.800000,NaN
11,15.0,658.5,532.300000,51.300000,607.300000,481.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,126.200000,34.300000,72.900000,22.40000,19.000000,NaN,NaN
12,16.0,760.2,633.500000,125.600000,634.600000,507.900000,3.700000,NaN,NaN,NaN,...,8.100000,NaN,NaN,126.600000,13.200000,30.400000,15.50000,83.000000,38.600000,NaN
13,17.0,6124.6,5301.700000,822.500000,5302.100000,4479.200000,8.300000,NaN,NaN,NaN,...,57.200000,59.900000,138.300000,822.900000,79.000000,147.700000,NaN,596.200000,248.700000,NaN
14,18.0,3159.9,2734.300000,693.100000,2466.900000,2041.200000,6.100000,NaN,NaN,NaN,...,30.700000,27.000000,70.200000,425.600000,38.900000,113.800000,33.70000,272.900000,128.500000,NaN
15,19.0,1587.2,1326.700000,306.600000,1280.700000,1020.100000,2.400000,NaN,NaN,NaN,...,NaN,NaN,NaN,260.600000,17.600000,67.900000,28.20000,175.000000,72.800000,NaN
16,20.0,1423.8,1164.500000,241.000000,1182.900000,923.500000,6.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,259.400000,25.500000,51.800000,24.80000,182.100000,75.700000,NaN
17,21.0,1945.4,1633.800000,342.900000,1602.400000,1290.900000,10.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,311.600000,34.900000,93.300000,44.30000,183.400000,71.600000,NaN
18,22.0,1993.6,1662.400000,316.800000,1676.800000,1345.600000,36.700000,NaN,5.800000,NaN,...,19.900000,NaN,NaN,331.200000,31.600000,89.700000,41.60000,209.900000,107.800000,NaN
19,23.0,637.1,535.900000,85.500000,551.600000,450.500000,2.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,101.200000,16.100000,25.500000,13.70000,59.600000,22.600000,NaN
20,24.0,2769.9,2262.500000,280.400000,2489.500000,1982.100000,1.300000,NaN,NaN,NaN,...,NaN,32.500000,NaN,507.400000,145.500000,111.000000,57.10000,250.900000,94.300000,NaN
21,25.0,3700.8,3243.400000,408.200000,3292.600000,2835.200000,1.100000,NaN,NaN,NaN,...,27.900000,46.000000,66.300000,457.400000,45.600000,130.200000,73.60000,281.600000,102.900000,NaN
22,26.0,4442.7,3828.400000,807.200000,3635.600000,3021.300000,7.300000,5.600000,NaN,NaN,...,42.600000,42.000000,82.100000,614.300000,52.400000,195.100000,72.60000,366.800000,176.100000,NaN
23,27.0,2983.2,2557.300000,457.900000,2525.300000,2099.400000,6.600000,NaN,NaN,NaN,...,22.300000,28.700000,63.500000,425.900000,32.100000,100.500000,41.20000,293.300000,149.400000,NaN
24,28.0,1158.6,916.700000,198.200000,960.400000,718.500000,6.800000,NaN,NaN,NaN,...,9.700000,NaN,NaN,241.900000,25.500000,59.700000,36.40000,156.700000,75.600000,NaN
25,29.0,2914.6,2477.400000,408.400000,2506.200000,2069.000000,4.400000,NaN,NaN,NaN,...,25.100000,25.700000,NaN,437.200000,55.600000,104.900000,NaN,276.700000,NaN,NaN
26,30.0,484.5,393.700000,58.300000,426.200000,335.500000,7.300000,6.700000,NaN,4.400000,...,NaN,NaN,NaN,90.800000,13.300000,27.800000,13.20000,49.700000,21.600000,NaN
27,31.0,1026.9,853.200000,154.700000,872.200000,698.500000,1.100000,NaN,NaN,NaN,...,9.500000,8.100000,19.600000,173.700000,17.000000,43.900000,17.20000,112.900000,47.500000,NaN
28,32.0,1421.9,1256.600000,170.200000,1251.700000,1086.400000,14.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,165.300000,19.500000,41.400000,19.90000,104.400000,48.600000,NaN
29,33.0,684.0,593.600000,100.300000,583.700000,493.300000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,90.300000,7.900000,24.400000,13.40000,58.100000,23.200000,NaN
30,34.0,4197.4,3591.600000,413.300000,3784.100000,3178.300000,1.400000,NaN,NaN,NaN,...,33.900000,64.100000,75.500000,605.800000,48.400000,141.100000,95.30000,416.300000,154.200000,NaN
31,35.0,855.1,668.200000,104.500000,750.500000,563.700000,25.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,186.900000,29.000000,53.900000,30.00000,103.900000,51.400000,NaN
32,36.0,9786.3,8293.200000,851.700000,8934.600000,7441.400000,5.300000,4.700000,NaN,NaN,...,60.800000,128.900000,226.300000,1493.200000,115.000000,257.500000,183.20000,1120.700000,550.500000,NaN
33,37.0,4580.2,3847.000000,715.300000,3864.900000,3131.800000,5.700000,3.100000,NaN,NaN,...,42.200000,39.100000,85.200000,733.100000,74.200000,205.200000,87.90000,453.700000,251.400000,NaN
34,38.0,440.9,358.000000,76.600000,364.400000,281.400000,21.400000,NaN,NaN,NaN,...,4.400000,3.300000,7.800000,82.900000,9.300000,22.700000,10.30000,50.900000,27.000000,NaN
35,39.0,5594.6,4803.300000,939.300000,4655.300000,3864.000000,11.800000,NaN,NaN,NaN,...,49.200000,56.400000,107.600000,791.300000,79.600000,179.900000,75.60000,531.800000,240.900000,NaN
36,40.0,1705.1,1352.100000,271.600000,1433.500000,1080.500000,47.800000,NaN,NaN,NaN,...,15.400000,12.500000,NaN,353.000000,49.700000,81.100000,34.90000,222.200000,123.700000,NaN
37,41.0,1954.2,1655.800000,314.600000,1639.600000,1341.200000,6.900000,NaN,NaN,NaN,...,18.900000,15.900000,29.900000,298.400000,28.500000,40.900000,40.10000,229.000000,95.800000,NaN
38,42.0,6065.9,5359.600000,864.600000,5201.300000,4495.000000,28.900000,28.100000,NaN,NaN,...,53.600000,71.200000,137.100000,706.300000,98.100000,155.200000,99.00000,453.000000,183.000000,NaN
39,44.0,504.0,438.800000,60.100000,443.900000,378.700000,0.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,65.200000,11.200000,20.300000,12.40000,33.800000,12.300000,NaN
40,45.0,2190.0,1816.200000,369.500000,1820.400000,1446.700000,4.400000,NaN,NaN,NaN,...,21.300000,19.200000,NaN,373.800000,35.000000,108.400000,55.70000,230.300000,120.900000,NaN
41,46.0,440.5,360.500000,69.600000,370.900000,290.900000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,80.000000,11.300000,18.500000,9.10000,50.200000,23.900000,NaN
42,47.0,3122.9,2685.200000,489.800000,2633.000000,2195.400000,4.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,437.600000,50.100000,96.800000,41.40000,290.700000,148.600000,NaN
43,48.0,12813.9,10836.400000,1930.500000,10883.400000,8905.900000,249.100000,247.600000,75.700000,NaN,...,136.800000,119.600000,189.400000,1977.500000,204.100000,424.700000,175.50000,1348.600000,474.500000,NaN
44,49.0,1557.4,1305.600000,255.900000,1301.600000,1049.800000,9.400000,NaN,NaN,NaN,...,16.800000,NaN,NaN,251.800000,37.300000,84.600000,33.80000,130.000000,58.700000,NaN
45,50.0,316.3,259.800000,46.200000,270.100000,213.700000,0.800000,NaN,NaN,NaN,...,NaN,NaN,NaN,56.500000,7.100000,19.100000,9.70000,30.300000,7.800000,NaN
46,51.0,4058.4,3326.800000,454.700000,3603.700000,2872.000000,7.800000,NaN,NaN,NaN,...,35.200000,45.700000,117.000000,731.700000,181.800000,162.300000,72.40000,387.600000,161.400000,NaN
47,53.0,3468.5,2881.000000,519.100000,2949.500000,2361.900000,5.900000,NaN,NaN,NaN,...,29.000000,36.400000,64.000000,587.500000,75.800000,149.800000,68.70000,362.000000,184.400000,NaN
48,54.0,721.2,568.700000,104.800000,616.400000,463.900000,22.300000,NaN,NaN,NaN,...,NaN,NaN,NaN,152.500000,24.000000,47.900000,26.30000,80.600000,40.500000,NaN
49,55.0,2987.7,2577.900000,612.100000,2375.500000,1965.800000,4.200000,NaN,NaN,NaN,...,24.000000,27.300000,101.300000,409.800000,29.300000,97.600000,44.90000,282.900000,129.800000,NaN
50,56.0,290.3,221.500000,53.800000,236.600000,167.700000,20.800000,20.800000,3.000000,7.800000,...,3.400000,NaN,NaN,68.900000,7.600000,14.700000,8.90000,46.600000,22.900000,NaN
51,0.0,1.0,0.999762,0.966298,0.999248,0.998617,0.434941,0.424526,0.380181,-0.148451,...,0.980961,0.979246,0.916382,0.991709,0.789538,0.974327,0.97421,0.989647,0.975731,NaN

In [36]:
# Find NaN values column-wise and row-wise
df2 = df2.append(df2.isna().sum(),ignore_index=True)
df2 = df2.append(df1.notnull().sum(),ignore_index=True)
df2

industry_code,state_code,0,5000000,6000000,7000000,8000000,10000000,10210000,10211000,10212000,...,80811000,80812000,80813000,90000000,90910000,90920000,90922000,90930000,90932000,90940000
0,1.0,2074.8,1682.900000,372.700000,1702.000000,1310.200000,10.200000,NaN,NaN,5.100000,...,NaN,NaN,NaN,391.900000,54.100000,120.100000,50.60000,217.700000,121.000000,NaN
1,2.0,330.0,250.100000,42.900000,287.200000,207.300000,13.400000,13.100000,NaN,NaN,...,NaN,NaN,NaN,79.900000,14.900000,23.200000,16.80000,41.800000,19.300000,NaN
2,4.0,2942.8,2520.300000,361.400000,2581.400000,2158.900000,13.300000,NaN,NaN,NaN,...,NaN,NaN,NaN,422.500000,56.500000,91.600000,36.60000,274.500000,134.200000,NaN
3,5.0,1280.4,1068.700000,220.700000,1059.600000,848.000000,5.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,211.700000,20.300000,78.100000,48.00000,113.300000,44.500000,NaN
4,6.0,17430.4,14833.000000,2234.500000,15195.900000,12598.500000,22.500000,20.500000,4.600000,5.900000,...,158.100000,187.100000,231.000000,2597.400000,248.200000,533.400000,275.80000,1815.800000,829.200000,NaN
5,8.0,2790.1,2335.000000,358.400000,2431.700000,1976.600000,28.800000,NaN,NaN,NaN,...,26.700000,30.300000,57.700000,455.100000,53.100000,130.200000,51.30000,271.800000,130.700000,NaN
6,9.0,1696.1,1460.100000,222.100000,1474.000000,1237.900000,0.500000,NaN,NaN,NaN,...,13.200000,22.500000,29.600000,236.000000,18.200000,71.300000,40.50000,146.600000,56.900000,NaN
7,10.0,466.8,399.900000,50.300000,416.500000,349.600000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,66.900000,5.700000,33.300000,18.70000,27.900000,7.300000,NaN
8,11.0,797.2,559.400000,16.100000,781.100000,543.200000,NaN,NaN,NaN,NaN,...,NaN,NaN,68.900000,237.900000,195.200000,NaN,NaN,NaN,NaN,42.6
9,12.0,8966.4,7841.600000,955.600000,8010.800000,6886.000000,5.700000,NaN,NaN,3.400000,...,87.900000,102.800000,162.700000,1124.800000,142.900000,257.800000,114.90000,724.100000,371.500000,NaN
10,13.0,4619.9,3928.800000,620.300000,3999.600000,3308.500000,9.500000,NaN,NaN,NaN,...,41.900000,40.200000,83.800000,691.100000,103.300000,168.100000,70.10000,419.700000,172.800000,NaN
11,15.0,658.5,532.300000,51.300000,607.300000,481.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,126.200000,34.300000,72.900000,22.40000,19.000000,NaN,NaN
12,16.0,760.2,633.500000,125.600000,634.600000,507.900000,3.700000,NaN,NaN,NaN,...,8.100000,NaN,NaN,126.600000,13.200000,30.400000,15.50000,83.000000,38.600000,NaN
13,17.0,6124.6,5301.700000,822.500000,5302.100000,4479.200000,8.300000,NaN,NaN,NaN,...,57.200000,59.900000,138.300000,822.900000,79.000000,147.700000,NaN,596.200000,248.700000,NaN
14,18.0,3159.9,2734.300000,693.100000,2466.900000,2041.200000,6.100000,NaN,NaN,NaN,...,30.700000,27.000000,70.200000,425.600000,38.900000,113.800000,33.70000,272.900000,128.500000,NaN
15,19.0,1587.2,1326.700000,306.600000,1280.700000,1020.100000,2.400000,NaN,NaN,NaN,...,NaN,NaN,NaN,260.600000,17.600000,67.900000,28.20000,175.000000,72.800000,NaN
16,20.0,1423.8,1164.500000,241.000000,1182.900000,923.500000,6.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,259.400000,25.500000,51.800000,24.80000,182.100000,75.700000,NaN
17,21.0,1945.4,1633.800000,342.900000,1602.400000,1290.900000,10.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,311.600000,34.900000,93.300000,44.30000,183.400000,71.600000,NaN
18,22.0,1993.6,1662.400000,316.800000,1676.800000,1345.600000,36.700000,NaN,5.800000,NaN,...,19.900000,NaN,NaN,331.200000,31.600000,89.700000,41.60000,209.900000,107.800000,NaN
19,23.0,637.1,535.900000,85.500000,551.600000,450.500000,2.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,101.200000,16.100000,25.500000,13.70000,59.600000,22.600000,NaN
20,24.0,2769.9,2262.500000,280.400000,2489.500000,1982.100000,1.300000,NaN,NaN,NaN,...,NaN,32.500000,NaN,507.400000,145.500000,111.000000,57.10000,250.900000,94.300000,NaN
21,25.0,3700.8,3243.400000,408.200000,3292.600000,2835.200000,1.100000,NaN,NaN,NaN,...,27.900000,46.000000,66.300000,457.400000,45.600000,130.200000,73.60000,281.600000,102.900000,NaN
22,26.0,4442.7,3828.400000,807.200000,3635.600000,3021.300000,7.300000,5.600000,NaN,NaN,...,42.600000,42.000000,82.100000,614.300000,52.400000,195.100000,72.60000,366.800000,176.100000,NaN
23,27.0,2983.2,2557.300000,457.900000,2525.300000,2099.400000,6.600000,NaN,NaN,NaN,...,22.300000,28.700000,63.500000,425.900000,32.100000,100.500000,41.20000,293.300000,149.400000,NaN
24,28.0,1158.6,916.700000,198.200000,960.400000,718.500000,6.800000,NaN,NaN,NaN,...,9.700000,NaN,NaN,241.900000,25.500000,59.700000,36.40000,156.700000,75.600000,NaN
25,29.0,2914.6,2477.400000,408.400000,2506.200000,2069.000000,4.400000,NaN,NaN,NaN,...,25.100000,25.700000,NaN,437.200000,55.600000,104.900000,NaN,276.700000,NaN,NaN
26,30.0,484.5,393.700000,58.300000,426.200000,335.500000,7.300000,6.700000,NaN,4.400000,...,NaN,NaN,NaN,90.800000,13.300000,27.800000,13.20000,49.700000,21.600000,NaN
27,31.0,1026.9,853.200000,154.700000,872.200000,698.500000,1.100000,NaN,NaN,NaN,...,9.500000,8.100000,19.600000,173.700000,17.000000,43.900000,17.20000,112.900000,47.500000,NaN
28,32.0,1421.9,1256.600000,170.200000,1251.700000,1086.400000,14.700000,NaN,NaN,NaN,...,NaN,NaN,NaN,165.300000,19.500000,41.400000,19.90000,104.400000,48.600000,NaN
29,33.0,684.0,593.600000,100.300000,583.700000,493.300000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,90.300000,7.900000,24.400000,13.40000,58.100000,23.200000,NaN
30,34.0,4197.4,3591.600000,413.300000,3784.100000,3178.300000,1.400000,NaN,NaN,NaN,...,33.900000,64.100000,75.500000,605.800000,48.400000,141.100000,95.30000,416.300000,154.200000,NaN
31,35.0,855.1,668.200000,104.500000,750.500000,563.700000,25.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,186.900000,29.000000,53.900000,30.00000,103.900000,51.400000,NaN
32,36.0,9786.3,8293.200000,851.700000,8934.600000,7441.400000,5.300000,4.700000,NaN,NaN,...,60.800000,128.900000,226.300000,1493.200000,115.000000,257.500000,183.20000,1120.700000,550.500000,NaN
33,37.0,4580.2,3847.000000,715.300000,3864.900000,3131.800000,5.700000,3.100000,NaN,NaN,...,42.200000,39.100000,85.200000,733.100000,74.200000,205.200000,87.90000,453.700000,251.400000,NaN
34,38.0,440.9,358.000000,76.600000,364.400000,281.400000,21.400000,NaN,NaN,NaN,...,4.400000,3.300000,7.800000,82.900000,9.300000,22.700000,10.30000,50.900000,27.000000,NaN
35,39.0,5594.6,4803.300000,939.300000,4655.300000,3864.000000,11.800000,NaN,NaN,NaN,...,49.200000,56.400000,107.600000,791.300000,79.600000,179.900000,75.60000,531.800000,240.900000,NaN
36,40.0,1705.1,1352.100000,271.600000,1433.500000,1080.500000,47.800000,NaN,NaN,NaN,...,15.400000,12.500000,NaN,353.000000,49.700000,81.100000,34.90000,222.200000,123.700000,NaN
37,41.0,1954.2,1655.800000,314.600000,1639.600000,1341.200000,6.900000,NaN,NaN,NaN,...,18.900000,15.900000,29.900000,298.400000,28.500000,40.900000,40.10000,229.000000,95.800000,NaN
38,42.0,6065.9,5359.600000,864.600000,5201.300000,4495.000000,28.900000,28.100000,NaN,NaN,...,53.600000,71.200000,137.100000,706.300000,98.100000,155.200000,99.00000,453.000000,183.000000,NaN
39,44.0,504.0,438.800000,60.100000,443.900000,378.700000,0.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,65.200000,11.200000,20.300000,12.40000,33.800000,12.300000,NaN
40,45.0,2190.0,1816.200000,369.500000,1820.400000,1446.700000,4.400000,NaN,NaN,NaN,...,21.300000,19.200000,NaN,373.800000,35.000000,108.400000,55.70000,230.300000,120.900000,NaN
41,46.0,440.5,360.500000,69.600000,370.900000,290.900000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,80.000000,11.300000,18.500000,9.10000,50.200000,23.900000,NaN
42,47.0,3122.9,2685.200000,489.800000,2633.000000,2195.400000,4.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,437.600000,50.100000,96.800000,41.40000,290.700000,148.600000,NaN
43,48.0,12813.9,10836.400000,1930.500000,10883.400000,8905.900000,249.100000,247.600000,75.700000,NaN,...,136.800000,119.600000,189.400000,1977.500000,204.100000,424.700000,175.50000,1348.600000,474.500000,NaN
44,49.0,1557.4,1305.600000,255.900000,1301.600000,1049.800000,9.400000,NaN,NaN,NaN,...,16.800000,NaN,NaN,251.800000,37.300000,84.600000,33.80000,130.000000,58.700000,NaN
45,50.0,316.3,259.800000,46.200000,270.100000,213.700000,0.800000,NaN,NaN,NaN,...,NaN,NaN,NaN,56.500000,7.100000,19.100000,9.70000,30.300000,7.800000,NaN
46,51.0,4058.4,3326.800000,454.700000,3603.700000,2872.000000,7.800000,NaN,NaN,NaN,...,35.200000,45.700000,117.000000,731.700000,181.800000,162.300000,72.40000,387.600000,161.400000,NaN
47,53.0,3468.5,2881.000000,519.100000,2949.500000,2361.900000,5.900000,NaN,NaN,NaN,...,29.000000,36.400000,64.000000,587.500000,75.800000,149.800000,68.70000,362.000000,184.400000,NaN
48,54.0,721.2,568.700000,104.800000,616.400000,463.900000,22.300000,NaN,NaN,NaN,...,NaN,NaN,NaN,152.500000,24.000000,47.900000,26.30000,80.600000,40.500000,NaN
49,55.0,2987.7,2577.900000,612.100000,2375.500000,1965.800000,4.200000,NaN,NaN,NaN,...,24.000000,27.300000,101.300000,409.800000,29.300000,97.600000,44.90000,282.900000,129.800000,NaN
50,56.0,290.3,221.500000,53.800000,236.600000,167.700000,20.800000,20.800000,3.000000,7.800000,...,3.400000,NaN,NaN,68.900000,7.600000,14.700000,8.90000,46.600000,22.900000,NaN
51,0.0,1.0,0.999762,0.966298,0.999248,0.998617,0.434941,0.424526,0.380181,-0.148451,...,0.980961,0.979246,0.916382,0.991709,0.789538,0.974327,0.97421,0.989647,0.975731,NaN
52,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.000000,42.000000,47.000000,46.000000,...,21.000000,25.000000,28.000000,0.000000,0.000000,1.000000,3.00000,1.000000,3.000000,51.0
53,51.0,51.0,51.000000,51.000000,51.000000,51.000000,48.000000,9.000000,4.000000,5.000000,...,30.000000,26.000000,23.000000,51.000000,51.000000,50.000000,48.00000,50.000000,48.000000,1.0

In [37]:
# Extract the computation rows at the end of the dataframe
df3 = df2.iloc[-3:]
df3 = df3.transpose()
df3.rename(columns = {51: 'corrs', 52: 'nans', 53:'states'}, inplace=True)

In [38]:
# Add industry names
change_dir('input//industry')
industry_names = pd.read_csv('industry_codes.csv',sep='\t')
merged = df3.merge(industry_names,on='industry_code')
merged

,industry_code,corrs,nans,states,industry_name
0,0,1.000000,0.0,51.0,Total Nonfarm
1,5000000,0.999762,0.0,51.0,Total Private
2,6000000,0.966298,0.0,51.0,Goods Producing
3,7000000,0.999248,0.0,51.0,Service-Providing
4,8000000,0.998617,0.0,51.0,Private Service Providing
...,...,...,...,...,...
109,90920000,0.974327,1.0,50.0,State Government
110,90922000,0.974210,3.0,48.0,State Government Excluding Education
111,90930000,0.989647,1.0,50.0,Local Government
112,90932000,0.975731,3.0,48.0,Local Government excluding Educational Services
113,90940000,NaN,51.0,1.0,Total State and Local Government

In [39]:
# Check if the industry is a supersector
supersector_names = pd.read_csv('supersector_series.csv',sep='\t')
supersector_names = supersector_names.rename(columns={'supersector_name':'industry_name'})
merged2 = merged.merge(supersector_names,on='industry_name',how='left')
merged2['supersector'] = merged2['supersector_code'].isna()
merged2['supersector'] = merged2['supersector'].replace(False,'Yes')
merged2['supersector'] = merged2['supersector'].replace(True,'No')
merged2

,industry_code,corrs,nans,states,industry_name,supersector_code,supersector
0,0,1.000000,0.0,51.0,Total Nonfarm,0.0,Yes
1,5000000,0.999762,0.0,51.0,Total Private,5.0,Yes
2,6000000,0.966298,0.0,51.0,Goods Producing,6.0,Yes
3,7000000,0.999248,0.0,51.0,Service-Providing,7.0,Yes
4,8000000,0.998617,0.0,51.0,Private Service Providing,8.0,Yes
...,...,...,...,...,...,...,...
109,90920000,0.974327,1.0,50.0,State Government,NaN,No
110,90922000,0.974210,3.0,48.0,State Government Excluding Education,NaN,No
111,90930000,0.989647,1.0,50.0,Local Government,NaN,No
112,90932000,0.975731,3.0,48.0,Local Government excluding Educational Services,NaN,No
113,90940000,NaN,51.0,1.0,Total State and Local Government,NaN,No

In [32]:
# Save output
change_dir('output')
merged2 = merged2.drop(['supersector_code'],axis=1)
merged2.to_csv("stage1_states.csv",index=False)